body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    height: auto;
}

.other-section {
    background-color: #100000;
    height: 800px;
}

.description {
    width: 600px;
    height: 400px;
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 20px;
    text-align: center;
    color: rgba(32, 32, 32, 0.9);
    margin: 0 auto 120vh;
}

.description h3 {
    margin-top: 0;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.description p {
    font-size: 18px;
    margin: 3% 0 0;
}

p.text-only {
    font-size: 28px;
    margin: 15% 0 0;
}

.description[textonly] {
    width: 400px;
    height: 150px;
}

.description[id="one-down"] {
    margin: 0 auto 120vh;
}

.description[id="three-down"] {
    margin: 0 auto 600vh;
}

.text {
    margin-top: 5%;
    float: left;
    width: 48%;
    height: 80%;
    overflow: hidden;
}

.graph {
    margin-top: 5%;
    float: right;
    width: 50%;
    height: 80%;
}

.map-container {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -1;
}

.description-container {
    padding-bottom: 100vh;
}
